@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AR";
  src: url("./Fonts/Archivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ML";
  src: url("./Fonts/Mali-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MR";
    src: url("./Fonts/Marcellus-Regular.ttf") format("truetype");
}